.image{
   
        float: inline-end;
        width: 150x;
        height: 150px;
        background: #555;
        //width: 25%;
        margin: auto;
        display: block;
        opacity: 0.8;
}